---
---

<section class="section">
  <div class="container">
    <p class="section__eyebrow">Vielen Dank</p>
    <h1 class="section__title">Ihre Nachricht wurde gesendet.</h1>
    <p class="section__intro">
      Wir melden uns schnellstm&ouml;glich zur&uuml;ck.
    </p>
    <p>
      <a href="/" class="button button--primary">Zur&uuml;ck zur Startseite</a>
    </p>
  </div>
</section>